.container{
  justify-content: center;
  padding:5px;
  text-align: center;
}

legend {
  font-size:1rem;
  font-weight: bold;
}

.heading {
  font-size:1rem;
  font-weight: bold;
}

.border {
  border:0 !important;
  border-bottom: 1px solid lightgray !important;
}
